h3 CONTACTS LIST

.row
  .col-xs-12
    table.table.table-striped
      thead
        tr
          th Delete
          th Edit
          th: i.fa.fa-camera
          th Name
          th Email
          th Phone
      tbody
        tr(ng-repeat='contact in contacts')
          td(ng-click='deleteContact(contact)'): i.fa.fa-trash-o
          td(ng-click='editContact(contact)'): i.fa.fa-pencil
          td: img.listphoto(ng-src='{{contact.photo}}')
          td(ng-click='showContact(contact)') {{contact.name}}
          td {{contact.email}}
          td {{contact.phone}}
