h3.center {{formState | uppercase}} CONTACT
br
form(name='newContactForm')
.row
  .col-xs-6.col-md-4
    .form-group
      label(for='name') Name
      input.form-control(type='text' name='name' ng-model='contact.name')
    .form-group
      label(for='address') Address
      textarea.form-control(name='address' ng-model='contact.address')
    .form-group
      label(for='bday') Birthday
      input.form-control(type='date' name='bday' ng-model='contact.birthday')
    .form-group
      label(for='phonenum') Phone
      input.form-control(type='tel' name='phonenum' ng-model='contact.phone')
  .col-xs-6.col-md-4
    .form-group
      label(for='email') E-mail
      input.form-control(type='email' name='email' ng-model='contact.email')
    .form-group
      label(for='homepage') Homepage
      input.form-control(type='text' name='homepage' ng-model='contact.homepage')
    .form-group
      label(for='twitter') Twitter
      input.form-control(type='text' name='twitter' ng-model='contact.twitter')
    .form-group
      label(for='facebook') Facebook
      input.form-control(type='text' name='facebook' ng-model='contact.facebook')
    .form-group
.row
  .col-xs-6
    form(name='addPhotoForm')
      label(for='uploadPhoto'): h4 Select a Photo
      input(type='file' onchange='angular.element(this).scope().uploadImage()')
      br
      br
      button.form-control.btn.btn-danger(ng-click='uploadImage()' ng-show='contact.photo') Replace Photo
      button.form-control.btn.btn-success(ng-click='uploadImage()' ng-hide='contact.photo') Add Photo
  .col-xs-6
    img.img-responsive.img-rounded(ng-src='{{contact.photo}}')
br
.row
  .col-xs-12
    button.form-control.btn.btn-success(ng-click='saveContact(contact)' ng-show='formState==="new"') Add Contact
    button.form-control.btn.btn-primary(ng-click='saveContact(contact)' ng-show='formState==="edit"') Save Contact
